:root {
  font-size: 62.5%;
  $cta-text-color: hsl(356, 100%, 66%);
  $cta-hover-bg: hsl(355, 100%, 74%);
  $title-color: hsl(208, 49%, 24%);


  $text-color: hsl(0, 0%, 100%);
  $footer-text: hsl(240, 2%, 79%);
  $body-copy: hsl(207, 13%, 34%);
  $footer-bg: hsl(240, 10%, 16%);

  // Background gradient - Intro/CTA mobile nav:
  $s-ligth-red: hsl(13, 100%, 72%);
  $ight-red: hsl(353, 100%, 62%);

  // Background gradient - body:
  $dark-gray-blue: hsl(237, 17%, 21%);
  $dark-desat-blue: hsl(237, 23%, 32%);

  // CTA/Footer  Ubuntu,  Copy/Text Overpass
  $cta-f: 'Ubuntu', sans-serif;
  $copy-f: "Overpass", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//main layout 